/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); */

/* Hide tab strip */
#TabsToolbar {
  visibility: collapse !important;
}

#sidebar-header {
  display: none;
}

#sidebar-splitter {
  width: 0 !important;
}

/* Hide main tabs toolbar */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar>.toolbar-items {
  opacity: 0;
  pointer-events: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
  visibility: collapse !important;
}

/* Sidebar min and max width removal */
#sidebar {
  max-width: none !important;
  min-width: 0px !important;
}

/* Hide splitter */
#sidebar-splitter {
  display: none !important;
}

/* Hide sidebar header */
#sidebar-header {
  visibility: collapse;
}

/* Shrink sidebar until hovered */
/* :root {
  --thin-tab-width: 35px;
  --wide-tab-width: 200px;
}

#sidebar-box {
  position: relative !important;
  transition: all 100ms !important;
  min-width: var(--thin-tab-width) !important;
  max-width: var(--thin-tab-width) !important;
}

#sidebar-box:hover {
  transition: all 200ms !important;
  min-width: var(--wide-tab-width) !important;
  max-width: var(--wide-tab-width) !important;
  margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
  z-index: 1;
} */